@charset "UTF-8";
.pull-right {
    float: right; }

.inline {
    display: inline-block; }

h1, h2, h3,
h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #000;
    margin: 1em 0;
    font: 300 1em/1.8 "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans; }

body {
    background-color: #fffdf6;
    font: 300 1em/1.8 "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans; }

.index header {
    height: 61.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffc300; }
.index header .letter-title {
    display: flex;
    justify-content: center; }
.index header .letter-title > div {
    width: 100px;
    height: 169px;
    transform: scaleX(0.8); }
.index header .letter-title .letter-title-s {
    background: url("../img/letter-title-S.png") no-repeat;
    background-position-x: -100px; }
.index header .letter-title .letter-title-a {
    background: url("../img/letter-title-A.png") no-repeat;
    background-position-x: -100px; }
.index header .letter-title .letter-title-y {
    background: url("../img/letter-title-Y.png") no-repeat;
    background-position-y: -170px; }
.index header .letter-title .letter-title-h {
    margin-left: 5vw;
    background: url("../img/letter-title-H.png") no-repeat; }
.index header .letter-title .letter-title-e {
    background: url("../img/letter-title-E.png") no-repeat; }
.index header .letter-title .letter-title-l {
    background: url("../img/letter-title-L.png") no-repeat;
    background-position-y: -169px; }
.index header .letter-title .letter-title-o {
    background: url("../img/letter-title-O.png") no-repeat;
    background-position-x: -100px; }
.index header .letter-title .animateLtoR {
    animation: animateLtoR 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; }
.index header .letter-title .animateRtoL {
    animation: animateRtoL 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; }
.index header .letter-title .animateBtoT {
    animation: animateBtoT 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; }
.index header .letter-title .animateTtoB {
    animation: animateTtoB 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; }
@keyframes animateLtoR {
    from {
        background-position-x: 0; }
    to {
        background-position-x: -100px; } }
@keyframes animateRtoL {
    from {
        background-position-x: -100px; }
    to {
        background-position-x: 0; } }
@keyframes animateBtoT {
    from {
        background-position-y: 0; }
    to {
        background-position-y: -170px; } }
@keyframes animateTtoB {
    from {
        background-position-y: -169px; }
    to {
        background-position-y: 0; } }
.index .content {
    width: 65%;
    margin: 50px auto;
    display: flex; }
.index .content .post {
    flex: 1; }
.index .content .post ul {
    list-style: none;
    padding: 0; }
.index .content .post ul li {
    margin: 30px; }
.index .content .post ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #003236;
    border-bottom: 2px solid transparent; }
.index .content .post ul li a:hover {
    color: #f66;
    border-bottom: 2px solid #f66;
    -webkit-transition: all .2s ease; }
.index .content .category {
    flex: 2; }
.index .content .category h2 {
    font: 300 1em/1.8 "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;
    font-size: 1.625em; }
.index .content .category a {
    display: inline-block;
    height: 24px;
    padding: 0 10px;
    line-height: 24px;
    text-decoration: none;
    background-color: #605f5f;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(168, 182, 191, 0.6); }
.index .content .category a:hover {
    transform: translateY(-1px); }

.post .content {
    width: 65%;
    margin: 0 auto; }
.post .content h1 {
    font-size: 2rem; }
.post .content h4 {
    font-size: 1.5rem; }
.post .content blockquote {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 0 0 1.75em;
    font-style: italic;
    border-left: #e6e6e6 5px solid;
    color: #999; }
.post .content .post-content a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #f66;
    font-family: "Roboto", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, serif;
    border-bottom: 2px solid transparent;
    margin-left: 3px; }
.post .content .post-content a:hover {
    border-bottom: 2px solid #f66;
    -webkit-transition: all .2s ease; }
.post .content .post-content img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 0.6em 0; }
.post .content ul {
    list-style: none; }
.post .content ul li {
    position: relative; }
.post .content ul li:before {
    position: absolute;
    font-weight: 600;
    content: " · ";
    left: -15px;
    margin: 0px; }

@media (max-width: 768px) {
    .content {
        width: 90% !important; }

    .header-title {
        display: none !important; } }
.back-wrap {
    display: inline-block;
    margin: 40px;
    font-size: 14px;
    height: 30px;
    overflow: hidden; }
.back-wrap a {
    display: inline-block;
    outline: none;
    padding: 1px 20px;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 500;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px; }
.back-wrap .btn-back {
    color: #f66;
    border-color: #f66; }
.back-wrap .btn-back:hover {
    border-color: #f66;
    color: #f66; }

h4 {
    position: relative; }
h4:before {
    content: '';
    border-left: 5px solid #f66;
    position: absolute;
    left: -15px;
    height: 75%;
    top: 12%; }

h5 {
    color: #22ab28;
}